/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* rest of the colors */
  --dark: #000000;
  --black: #222222;
  --white: #ffffff;
  --red-light: rgba(255, 56, 0, 0.6);
  --red-dark: rgba(255, 56, 0, 1);
  --green-light: rgba(118, 255, 122, 0.6);
  --green-dark: rgba(118, 255, 122, 1);

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  max-width: 40em;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;

  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: var(--letterSpacing); 
}

h1 {
  margin-top: 0;

  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

a,
button {
  line-height: 1.15;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  padding: 0;
  list-style-type: none;
}

.img {
  display: block;
  width: 100%;

  object-fit: cover;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;

  color: var(--white);
  letter-spacing: var(--letterSpacing);

  background-color: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);

  transition: var(--transition);  
  
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-block {
  width: 100%;
}

.btn-danger { 
  background-color: var(--red-light);

  outline: none;
}

.btn-danger:hover,
.btn-danger:focus {  
  background-color: var(--red-dark);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 3rem auto;
  padding: 2rem 2.5rem;

  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2); 
}

.form:hover {
  box-shadow: var(--shadow-4);
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;

  font-size: var(--smallText);
  letter-spacing: var(--letterSpacing); 
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;

  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-200);
}

.form-input,
.form-select,
.btn-block {
  height: 35px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing); 
}

/* loader */
.loading,
.loading:before,
.loading:after {
  width: 2.5em;
  height: 2.5em;

  border-radius: 50%;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loading {  
  position: relative;
  margin-left: 2.5rem;

  color: var(--primary-500);
  font-size: 0.6rem;  
  text-indent: -9999em;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loading:before,
.loading:after {
  position: absolute;
  top: 0;
  
  content: '';
}

.loading:before {
  left: -3.5em;

  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.loading-center {
  margin: 0 auto;
}

/* title */
.title {
  text-align: center;
}

.title-underline {
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;

  background-color: var(--primary-500);
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.full-page {
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 12rem;
}

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0;
  background-color: transparent; 
}
